body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #fafafa;
    color: #444;
}

.nav {
    background-color: #fcfcfc;
    border-bottom: 1px solid #eee;
}

.content {
    margin: 40px auto;
    max-width: 650px;
    padding: 0 10px;
}

.nav-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-list li {
    display: block;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #555;
}

.nav-list a {
    display: block;
}

.nav-list li:last-child {
    border-bottom: none;
}

h1, h2, h3 {
    line-height: 1.2;
}

article, .article {
    font-family: serif;
}

.card {
    padding: 1em;
    border: 1px solid #eee;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin-bottom: 1em;
    list-style: none;
}

.card-title {
    font-weight: bold;
    margin: 0;
}

.card-content {
    margin: 0.5em 0 0;
}

.article-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    color: #1B9AF7;
}

.form .form-field {
    margin-bottom: 0.75em;
}

.form-field {
    display: block;
}

.form-label,
.form-field-error,
.form-help-text
{
    font-size: 75%;
}

.form-label {
    opacity: 85%;
}

.form-help-text {
    opacity: 75%;
    margin-top: 2px;
}

.form-submit {
    cursor: pointer;
    color: #1E71F2;
    background: transparent;
    border: 1px solid #1E71F2;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 6px;
}

.form-error {
    color: #D64A4A;
}

.aside {
    float: right;
    width: 210px;
    margin-left: 16px;
}

.inline {
    display: inline;
}

.inline-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline;
}

.inline-list-comma::after {
    content: ', ';
}

.inline-list-comma:last-child::after {
    content: '';
}

.no-list {
    list-style: none;
}

.card.form-error {
    border-color: #D64A4A;
}

figure {
    margin: 0;
}

figcaption {
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=search],
textarea
{
    font-size: 16px;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 8px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background-color: #222;
    }

    .card {
        border-color: #444;
        background-color: #333;
    }

    input[type=text],
    input[type=password],
    input[type=search],
    textarea
    {
        color: inherit;
        border-color: #555;
        background-color: #444;
    }

    .nav {
        background-color: #444;
        border-bottom: 1px solid #555;
    }

}

@media screen and (min-width: 900px) {

    .nav-list li {
        display: inline-block;
        border: none;
        padding: 8px;
    }

    .messages-header {
        display: none;
    }

    .messages-list {
        position: fixed;
        bottom: 0;
        right: 16px;
    }
}
