{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'All articles' %}</h1>

    {% if user.is_staff %}

        <div class="card">
            <a href="{% url 'article_create' %}">
                {% trans 'Make a new article' %}
            </a>
        </div>
    {% endif %}

    <form class="card form" action="" method="GET">
        <div class="card-title">
            {% trans 'Filters' %}
        </div>

        <label class="form-field">
            <div class="form-label">
                {% trans 'By tag' %}
            </div>
            <input type="search" name="tag">
        </label>

        <label class="form-field">
            <div class="form-label">
                {% trans 'By category' %}
            </div>
            <input type="search" name="category">
        </label>

        <button class="form-submit" type="submit">
            {% trans 'Search' %}
        </button>

    </form>

    <ul>
        {% for article in article_list %}
            <li class="article card">
                <h2 class="card-title">
                    <a href="{% url 'article_read' article.id %}">
                            {{ article.title }}
                    </a>
                </h2>

                <ul>
                    {% for articlecategory in article.articlecategory_set.all %}
                        <li>
                            {{ articlecategory.category }}
                        </li>
                    {% endfor %}
                </ul>

                <ul>
                    {% for articletag in article.articletag_set.all %}
                        <li>
                            {{ articletag.tag }}
                        </li>
                    {% endfor %}
                </ul>

                <ul>
                    {% for articleuser in article.articleuser_set.all %}
                        <li>
                            {{ articleuser.user }}
                        </li>
                    {% endfor %}
                </ul>

                <p class="card-content article-preview">
                    {{ article.content }}
                </p>
            </li>
        {% endfor %}
    </ul>

    <nav class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans 'first' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </nav>

{% endblock %}
