{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Create an article' %}</h1>

    <form class="card form" action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            <label class="form-field">
                {% if field.error %}
                    <span class="field-error">{{ field.error }}</span>
                {% endif %}
                <div class="form-label">
                    {{ field.label }}
                </div>
                {{ field }}
            </label>
        {% endfor %}

        {% for inline in inlines %}
            <div class="form-inline">
                {{ inline.management_form }}

                {% for form in inline.forms %}
                    <div class="form-field">
                        {{ form }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button class="form-submit" type="submit">{% trans 'Publish' %}</button>
    </form>

{% endblock %}
