
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Do you really want to delete this article?' %}
    </h1>

    <p>
        {% trans 'There is no way back after its deletion.' %}
    </p>


    <form class="card form" action="" method="post">
        <h2>
            {{ object.title }}
        </h2>

        <p class="article-preview">
            {{ object.content }}
        </p>

        <a href="{% url 'article_read' object.id %}">
            {% trans 'Go to article' %}
        </a>

        {% csrf_token %}

        <button class="form-submit" type="submit">
            {% trans 'Delete' %}
        </button>
    </form>

{% endblock %}
