{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if user.is_staff %}
        <div class="card">
            <a href="{% url 'article_update' object.id %}">
                {% trans 'Edit' %}
            </a>

            <a href="{% url 'article_delete' object.id %}">
                {% trans 'Delete' %}
            </a>
        </div>
    {% endif %}

    <article>
        <h1>{{ object.title }}</h1>

        <figure>
            <figcaption class="inline">
                {% trans 'Written by:' %}
            </figcaption>
            <ul class="inline-list">
                {% for writer in users %}
                    <li class="inline-list-comma">{{ writer }}</li>
                {% endfor %}
            </ul>
        </figure>

        <div class="card aside">

            <figure>
                <figcaption>{% trans 'Categories' %}</figcaption>
                <ul>
                    {% for category in categories %}
                        <li>
                            {{ category }}
                        </li>
                    {% endfor %}
                </ul>
            </figure>

            <figure>
                <figcaption>{% trans 'Tags' %}</figcaption>
                <ul>
                    {% for tag in tags %}
                        <li>
                            {{ tag }}
                        </li>
                    {% endfor %}
                </ul>
            </figure>

        </div>

        <main>
            {{ safe_html_content |safe }}
        </main>
    </article>
{% endblock %}
