{% load static %}
{% load i18n %}
{% get_current_language as language_code %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'index.css' %}" />

    <title>{{ title }}</title>
</head>
<body>
    {% block nav %}
        <nav class="nav">
            <ul class="content nav-list">
                {% block nav_links %}
                    <li>
                        <a href="{% url 'index' %}">
                            {% trans 'Home' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'article_list' %}">
                            {% trans 'Articles' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'category_list' %}">
                            {% trans 'Categories' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'tag_list' %}">
                            {% trans 'Tags' %}
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">
                                {% trans 'Log out' %}
                            </a>
                        </li>

                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">
                                {% trans 'Log in' %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'signup' %}">
                                {% trans 'Sign up' %}
                            </a>
                        </li>
                    {% endif %}

                {% endblock %}
            </ul>
        </nav>

    {% endblock %}

    <main class="content">
        {% block messages %}
            {% if messages %}
                <aside>
                    <h1 class="messages-header">
                        {% trans 'Messages' %}
                    </h1>
                    <ul class="messages-list">
                        {% for message in messages %}
                            <li class="card">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>