{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Best articles' %}</h1>

    <ul>
    {% for article in article_list %}
        <li class="article card">
                <h2 class="card-title">
                    <a href="{% url 'article_read' article.id %}">
                            {{ article.title }}
                    </a>
                </h2>

                <p class="card-content article-preview">
                    {{ article.content }}
                </p>
            </li>
    {% endfor %}
    </ul>

{% endblock %}
