{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Do you really want to delete this category?' %}
    </h1>

    <p>
        {% trans 'There will be no going back!' %}
    </p>


    <form class="card form" action="" method="post">

        <p>
            {{ object.name }}
        </p>

        {% csrf_token %}

        <button class="form-submit" type="submit">
            {% trans 'Delete' %}
        </button>
    </form>

{% endblock %}
