{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'All categories' %}</h1>

    {% if user.is_staff %}
        <div class="card">
            <a href="{% url 'category_create' %}">
                Create
            </a>
        </div>
    {% endif %}

    <ul>
        {% for object in object_list %}
            <li class="article card">
                {{ object.name }}

                <a href="{% url 'category_update' object.id %}">
                    {% trans 'Edit' %}
                </a>

                <a href="{% url 'category_delete' object.id %}">
                    {% trans 'Delete' %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <nav class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans 'first' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </nav>

{% endblock %}
