{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Log in' %}
    </h1>

    {% if form.errors %}
        <ul class="no-list card form-error">
            {% for error in form.non_field_errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form card" action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <label class="form-field">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <div class="form-label">
                    {{ field.label }}
                </div>
                {{ field }}
            </label>
        {% endfor %}

        <input class="form-submit" type="submit" />
    </form>
{% endblock %}
