{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Sign up' %}
    </h1>

    <form class="card form" action="" method="POST">
        {% csrf_token %}

        {% if form.errors %}
            <ul class="form-error">
                {% for error in form.non_field_errors %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for field in form %}
            <label class="form-field">

                <div class="form-label">
                    {{ field.label }}
                </div>

                {{ field }}

                {% if field.errors %}
                    <ul class="form-error">
                        {% for error in field.errors %}
                            <li class="form-field-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="form-help-text">
                    {{ field.help_text }}
                </div>

            </label>

        {% endfor %}

        <input class="form-submit" type="submit" />
    </form>
{% endblock %}
