{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Do you really want to delete this tag?' %}
    </h1>

    <p>
        {% trans 'There will be no going back.' %}
    </p>


    <form class="card form" action="" method="post">
        <h2>
            {{ object.name }}
        </h2>

        {% csrf_token %}

        <button class="form-submit" type="submit">
            {% trans 'Delete' %}
        </button>
    </form>

{% endblock %}
